[submodule "polylib"]
	path = polylib
	url = https://github.com/sheenisme/polylib.git
[submodule "isl"]
	path = isl
	url = https://github.com/sheenisme/isl.git
[submodule "pet"]
	path = pet
	url = https://github.com/sheenisme/pet.git
